---
import Layout from "../layouts/Layout.astro";
import CommentCard from "../components/CommentCard.astro";
import reviews from "../mock/comments.json";
import ClassCard from "../components/ClassCard.astro";
import gymClasses from "../mock/gym-classes.json";
import ArrowIcon from "../components/icons/arrow.astro";
import FacebookIcon from "../components/icons/facebook.astro";
import InstagramIcon from "../components/icons/instagram.astro";
import CheckIcon from "../components/icons/check.astro";
---

<Layout title="Welcome to MyGYM">
  <main>
    <section
      id="hero"
      class="flex items-center w-full px-12 py-16 md:py-32 md:pb-4 text-white bg-[#04040C]"
    >
      <div class="relative items-center w-full mx-auto max-w-7xl">
        <div class="relative flex-col items-start m-auto align-middle">
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-24">
            <div class="relative items-center gap-12 m-auto md:inline-flex">
              <div class="max-w-xl text-center md:text-left">
                <div>
                  <p
                    class="text-base text-gray-300 font-medium relative z-10 tracking-tight sm:text-lg"
                  >
                    COME AND TRAIN WITH US
                  </p>
                  <img
                    id="claw"
                    src="/images/claw.webp"
                    class="absolute -top-16 opacity-[.85]"
                    alt="claw image"
                  />
                  <p
                    class="text-4xl font-bold relative z-10 mt-4 tracking-tight lg:text-5xl"
                  >
                    LET'S GET A FIT AND<br />PERFECT BODY
                  </p>
                </div>
                <div class="flex justify-center gap-3 mt-20 md:justify-start">
                  <a
                    class="inline-flex items-center justify-center text-white text-lg font-semibold relative z-10 rounded-md px-6 py-2 bg-[#D1A133] hover:bg-yellow-300 focus:outline-none focus-visible:outline-gray-600"
                    href="/inscription"
                  >
                    <span class="mr-2">JOIN US!</span>
                    <ArrowIcon className="w-6 h-6" />
                  </a>
                </div>
              </div>
              <div class="relative z-10">
                <ul
                  class="flex flex-row gap-6 justify-center mt-8 md:p-0 md:flex-col md:gap-4"
                >
                  <li>
                    <a
                      href="#"
                      class="flex text-black bg-white transition-[scale] rounded-2xl overflow-hidden hover:scale-150"
                      ><FacebookIcon className="w-12 h-12" /></a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex text-black bg-white transition-[scale] rounded-2xl overflow-hidden hover:scale-150"
                      ><InstagramIcon className="w-12 h-12" /></a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="order-first block w-full my-12 md:mt-0">
              <img
                src="/images/main-hero.png"
                class="w-full mx-auto md:ml-auto"
                alt="hero"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="reviews" class="px-12 py-24">
      <div class="max-w-7xl m-auto">
        <p
          class="text-center font-semibold text-3xl text-[#04040C] mb-8 md:text-5xl md:mb-14"
        >
          WE ARE ONE OF THE BEST GYMS IN THE WORLD!
        </p>
        <div class="overflow-hidden mb-14">
          <!-- Carousel wrapper -->
          <div class="wrapper flex w-[200rem] lg:w-[300rem]">
            {
              reviews.map((review) => (
                <CommentCard
                  name={review.name}
                  img={review.img}
                  date={review.date}
                  comment={review.comment}
                />
              ))
            }
            {
              reviews.map((review) => (
                <CommentCard
                  name={review.name}
                  img={review.img}
                  date={review.date}
                  comment={review.comment}
                />
              ))
            }
          </div>
        </div>
        <CheckIcon
          className="flex-shrink-0 w-12 h-12 text-[#D1A133] mx-auto mb-4"
        />
        <p
          class="text-center font-semibold text-3xl text-[#04040C] mb-8 md:text-3xl md:mb-10"
        >
          Our quality and commitment is priority
        </p>
        <p
          class="text-center font-semibold text-xl text-gray-500 mb-8 md:text-2xl md:mb-14"
        >
          We are involved in all your proccess!
        </p>
      </div>
    </section>

    <section id="classes" class="px-12 py-24 bg-[#04040C]">
      <div class="text-white max-w-7xl m-auto">
        <p
          class="text-center font-semibold text-3xl text-white mb-4 md:text-5xl md:mb-14"
        >
          WE HAVE THE MOST VARIABLE CLASSES FOR YOU
        </p>
        <p
          class="text-center font-semibold text-md text-gray-500 mb-12 md:text-xl md:mb-20"
        >
          THERE ARE CLASSES FOR EVERYONE!
        </p>
        <div
          class="grid grid-cols-2 gap-3 place-items-center mb-10 md:text-lg md:grid-cols-3 md:gap-6"
        >
          {
            gymClasses.map((gymClass) => (
              <ClassCard name={gymClass.name} img={gymClass.img} />
            ))
          }
        </div>
        <div class="flex justify-center">
          <a
            href="/all-classes"
            target="_self"
            class="-semibold text-md text-yellow-300 px-4 py-3 border border-yellow-300 rounded-lg hover:text-white hover:bg-[#D1A133]"
            >See more...</a
          >
        </div>
      </div>
    </section>

    <section class="px-12 py-12">
      <div class="text-[#04040C] max-w-7xl m-auto">
        <p class="text-center font-semibold text-2xl mb-4">
          SUBSCRIBE TO CLASSES AND COME FOR ALL THE SESSION YOU WISH⚡
        </p>
        <p class="text-center text-gray-500 font-semibold text-lg">
          START YOUR MEMBERSHIP NOW!
        </p>
      </div>
    </section>

    <section id="plans" class="px-12 py-24 bg-[#04040C]">
      <div class="max-w-7xl m-auto">
        <p
          class="text-center font-semibold text-3xl text-white mb-8 md:text-5xl md:mb-14"
        >
          CHECK OUR PLANS AND JOIN US!
        </p>
        <div class="flex">
          <div
            id="plan-selector"
            class="text-white border border-gray-600 rounded-3xl mx-auto mb-8 p-1"
          >
            <button
              type="button"
              class="bg-[#D1A133] rounded-2xl ease-in-out duration-150 py-1 px-2"
              >Personal</button
            >
            <button
              type="button"
              class="rounded-2xl ease-in-out duration-150 py-1 px-2"
              >Enterprise</button
            >
          </div>
        </div>
        <div class="flex flex-col gap-8 text-white lg:flex-row lg:gap-0">
          <div
            class="flex flex-col w-full p-6 min-h-full border border-gray-700 rounded-lg sm:p-8"
          >
            <h5 class="text-xl font-medium">Starter plan</h5>
            <h6 class="mb-4 text-sm text-gray-400 font-medium">
              Monthly billed
            </h6>
            <div class="flex items-baseline">
              <span class="text-3xl font-semibold">$</span>
              <span class="text-5xl font-extrabold tracking-tight">16</span>
              <span class="ml-1 text-xl font-normal">/month</span>
            </div>
            <!-- List -->
            <ul role="list" class="flex-grow space-y-5 my-7">
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Access to all the equipment</span
                >
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Personal trainer</span
                >
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Unlimited sessions
                </span>
              </li>
            </ul>
            <a
              href="/inscription"
              class="bg-gray-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
              >Choose plan</a
            >
          </div>
          <div
            class="flex flex-col w-full p-6 min-h-full border-2 border-[#D1A133] bg-gray-900 rounded-lg sm:p-8 lg:scale-105"
          >
            <div class="flex justify-between">
              <div>
                <h5 class="text-xl font-medium">Advanced plan</h5>
                <h6 class="mb-4 text-sm text-gray-400 font-medium">
                  Quarterly billed
                </h6>
              </div>

              <p class="h-fit bg-[#D1A133] text-center py-1 px-3 rounded-full">
                Most popular
              </p>
            </div>
            <div class="flex items-baseline">
              <span class="text-3xl font-semibold">$</span>
              <span class="text-5xl font-extrabold tracking-tight">44</span>
              <span class="ml-1 text-xl font-normal">/quarter</span>
            </div>
            <!-- List -->
            <ul role="list" class="flex-grow space-y-5 my-7">
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Access to all the equipment</span
                >
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Personal trainer</span
                >
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Unlimited sessions
                </span>
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Orientation about nutrition
                </span>
              </li>
            </ul>
            <a
              href="/inscription"
              class="bg-[#D1A133] hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
              >Choose plan</a
            >
          </div>
          <div
            class="flex flex-col w-full p-6 min-h-full border border-gray-700 rounded-lg sm:p-8"
          >
            <h5 class="text-xl font-medium">Fitness plan</h5>
            <h6 class="mb-4 text-sm text-gray-400 font-medium">
              Anually billed
            </h6>
            <div class="flex items-baseline">
              <span class="text-3xl font-semibold">$</span>
              <span class="text-5xl font-extrabold tracking-tight">163</span>
              <span class="ml-1 text-xl font-normal">/year</span>
            </div>
            <!-- List -->
            <ul role="list" class="flex-grow space-y-5 my-7">
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Access to all the equipment</span
                >
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Personal trainer</span
                >
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Unlimited sessions
                </span>
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Orientation about nutrition
                </span>
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <CheckIcon className="flex-shrink-0 w-5 h-5 text-blue-600" />
                <span class="text-base font-normal leading-tight"
                  >Professional medical monitoring</span
                >
              </li>
            </ul>
            <a
              href="/inscription"
              class="bg-gray-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
              >Choose plan</a
            >
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="px-12 py-24 md:pt-24 md:pb-0">
      <div class="max-w-7xl text-[#04040C] m-auto">
        <p class="text-center font-semibold text-2xl mb-8 md:text-5xl md:mb-14">
          IF YOU NEED MORE INFORMATION WE WILL CONTACT YOU!
        </p>
        <div class="md:flex">
          <div class="w-full grid place-items-center mb-8">
            <img
              src="/images/class.webp"
              alt="A man and a woman talking and looking a book"
              class="max-h-96 md:h-[30rem]"
            />
          </div>
          <div class="w-full grid place-items-center">
            <div class="hidden w-full text-center">
              <p class="font-bold text-2xl md:text-left">Thank you!</p>
              <p class="text-lg md:text-left">We will contact you very soon</p>
            </div>
            <form class="w-full">
              <div class="md:flex md:gap-4">
                <div class="w-full">
                  <label
                    for="first-name"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Your first name</label
                  >
                  <input
                    type="text"
                    id="first-name"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="w-full">
                  <label
                    for="last-name"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Your last name</label
                  >
                  <input
                    type="text"
                    id="last-name"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                    placeholder="Last name"
                    required
                  />
                </div>
              </div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your Email</label
              >
              <input
                type="text"
                id="email"
                class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                placeholder="name@example.com"
                required
              />
              <label
                for="message"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your message</label
              >
              <textarea
                id="message"
                rows="4"
                class="block mb-4 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-yellow-300 focus:border-yellow-300"
                placeholder="Leave a comment..."></textarea>
              <button
                type="submit"
                class="bg-[#D1A133] text-white font-bold w-full rounded-md py-3 hover:bg-yellow-400"
                >Contact me!</button
              >
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .wrapper {
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
    100% {
      transform: translateX(-100rem);
      -webkit-transform: translateX(-100rem);
    }
  }
  @media (min-width: 1024px) {
    @keyframes scroll {
      0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
      100% {
        transform: translateX(-150rem);
        -webkit-transform: translateX(-150rem);
      }
    }
  }
</style>

<script src="../scripts/index/planInteract.js"></script>
<script src="../scripts/index/contact.js"></script>
